*{
    font-family: Arial, Helvetica, sans-serif;
}

.body{
    background-color: black;
}

td[class~="But"]{
    text-align: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


.grey.But{
    background-color: rgb(201, 200, 200);
    color: black;
}

.orange.But{
    background-color: orange;
    color: white;
}

.black.But{
    background-color: rgb(65, 65, 65);
    color: white;
}


#resultPanel{
    background-color: black;
    color: white;
    text-align: end;
    height: 50px;
    width: 150px;
}
